.text{
    width:400px;
    padding:5px;
    height:25px;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0px 10px;
  }
  .button{
    height:40px;
    width:100px;
    background-color:rgb(45, 45, 211);
    color: white;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(45, 45, 211);
  }
  .Additems{
    margin:40px;
  }